:root {
  --d--blue: #182747;
  --l-blue: #BCCEF8;
  --b--blue: #CDFCF6;
  --light: #FAF7F0;
  --purple: #C9BBCF;
}

body {
  background-color: var(--light)
}

.head {
  background-color: var(--l-blue);
  display: flex;
  align-items: center;
  box-shadow: var(--b--blue) 0px 2px 5px -1px, var(--b--blue) 0px 1px 3px -1px;
}

.logo {
  width: 5em;
  margin: 2em;
}

.title {
  font-size: 2.4em;
  padding: 0;
  margin: 0;
  font-weight: 900;
  color: var(--d--blue);
}

.form {
  display:grid;
  margin: 4em;
  margin-top: 4em;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  margin-left: 1.2em;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid var(--d--blue);
  margin-bottom: 1rem;
}

.button {
  background-color: var(--d--blue);
  color: var(--l-blue);
  padding: 1rem 2rem;
  border: 1px solid var(--l-blue);
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background-color: var(--l-blue);
  color: var(--d--blue);
  border: 1px solid var(--d-blue);
}

.card-list {
  margin-top: 4rem;
}

.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  background-color: var(--d--blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--light);
  margin: 2em;
  box-shadow: var(--b--blue) 0px 2px 5px -1px, var(--b--blue) 0px 1px 3px -1px;
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 4rem;
}

.card--img {
  margin: 0 auto;
  display: block;
  height: 100%; 
  border-radius: 20px;
  box-shadow: var(--light) 0px 2px 5px -1px, var(--light) 0px 1px 3px -1px;
}

small {
  font-size: 1em;
}

.card--description {
  font-size: 1.4em;
}

.card--content {
  margin-left: 4em;
}